<div class="container-fluid ">
    <div class="text-center ">
        <h1> Meals of the Day</h1>
    </div>
    <br>
    <!-- <div class="row main-container">
        <h5>List all meal categories</h5>
        <ul class="list-group">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
          </ul>
    </div> -->
    <br>
    <div class="row main-container">
        <div class="col-md-3">
            Search meal by name
            <input class="form-control" type="text" name="searchbyname" id="" [(ngModel)]="searchbyname" placeholder="Search...">
            <br><button class="btn btn-primary" (click)="searchByName(searchbyname)">Search</button>
        </div>
        <div class="col-md-3">
            List all meals by first letter
            <input class="form-control" type="text" name="searchbyfirstletter" id="" maxlength="1" (keyup)="searchByFirstLetter(searchbyfirstletter)" [(ngModel)]="searchbyfirstletter" placeholder="Search...">
        </div>
        <div class="col-md-3">
            List all meal categories
            <button class="btn btn-primary" (click)="getallMeals()">All Categories</button>
        </div>
        <!-- <div class="col-md-3">
            Lookup full meal details by id
            <input class="form-control" type="text" name="" id="">
        </div>
        <div class="col-md-3">
            Lookup a single random meal
            <input class="form-control" type="text" name="" id="">
        </div> -->
    </div>
    <br>
    <div class="row main-container" *ngIf="categories.length > 0">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Category</th>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let meal of categories">
                <th scope="row">{{meal.idCategory}}</th>
                <td>{{meal.strCategory}}</td>
                <td><img class="category-image" src="{{meal.strCategoryThumb}}" alt="image"></td>
                <td>{{meal.strCategoryDescription}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="row main-container" *ngIf="mealList.length > 0">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Area</th>
                <th scope="col">Category</th>
                <th scope="col">Ingredient1</th>
                <th scope="col">Ingredient2</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let meal of mealList">
                <th scope="row">{{meal.idMeal}}</th>
                <td>{{meal.strArea}}</td>
                <td>{{meal.strCategory}}</td>
                <td>{{meal.strIngredient1}}</td>
                <td>{{meal.strIngredient2}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>